* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section {
    display:list-item;
}

h1 {
    text-align: center;
    
}

div {
    text-align: center;
}