* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}

/* ************************************* */


.about-section {
    padding: 80px 20px;
    background-color: #f7f7f7;
}

.about-container {
    max-width: 1100px;
    margin: auto;
}

.about-container h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
    color: #2c2c2c;
}

.about-intro {
    text-align: center;
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto 50px auto;
    line-height: 1.7;
}

.about-content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.8;
    color: #444;
    margin-bottom: 18px;
    text-align: justify;
}

.about-images {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-images img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}