* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.equipements {
  background: #f4f4f4;
  padding: 60px 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.equipements .container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.equipements h2 {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 15px;
}

.equipements .intro {
  font-size: 16px;
  color: #555;
  max-width: 800px;
  margin: 0 auto 60px;
}

.equipements-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 25px;
}

.equipement-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.equipement-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.equipement-card h3 {
  font-size: 20px;
  color: #1e8449;
  margin-bottom: 10px;
}

.equipement-card ul {
  padding-left: 18px;
}

.equipement-card li {
  font-size: 15px;
  color: #444;
  margin-bottom: 6px;
}