* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}

/* ************************************** */

section {
    display:list-item;
    margin-top: 90px;
}

h1 {
    text-align: center;

}

div {
    text-align: center;
}

.photo-btn-container {
    text-align: center;
    margin: 20px 0 40px;
}

.photo-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #2a5298;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
