* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}

/* ************************************* */

  body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .galerie {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;
        max-width: 900px;
        margin: auto;
    }

    .carte {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        text-align: center;
        padding: 10px;
    }

    .carte img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    .nom {
        margin-top: 10px;
        font-weight: bold;
        color: #333;
    }