* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}

/* ****************************************** */

.home {
    position: relative;
    min-height: calc(100vh - 60px);
    width: 100%;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../image/recrutement.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    overflow: hidden;
    margin-top: 60px;
}

.home-content {
    color: white;
}

.main-title {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.subtitle {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 40px;
    color: #ddd;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.description {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #ddd;
}

.home-buttons {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn {
    margin: 0 10px;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary {
    background: #0066FF;
    color: white;
}

.btn-primary:hover {
    background: #0052CC;
    transform: translateY(-6px) scale(1.05, 1.11);
    /* transform: translateY(-2px); */
    /* box-shadow: 0 10px 30px rgba(0,102,255,0.4); */
}

.btn-secondary {
    background: #0052CC;
    color: white;
}

.btn-secondary:hover {
    background: #0052CC;
    color: #ffffff;
    transform: translateY(-6px) scale(1.05, 1.11);
}