* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 50px;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.logo-icon {
    color: blue;
}

.logo-text {
    color: rgb(73, 32, 67);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: blue;
}

/* ********************************** */

.services {
  padding: 60px 20px;
  background: #f4f4f4;
  text-align: center;
  height: 100vh;
}

.services h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #222;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.service-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  color: #ff9800;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 15px;
  color: #555;
}
